* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  color: #FFF0E3;
  font-family: 'Times New Roman', Times, serif;
}

button {
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

hr {
  padding: 0;
  margin-right: 0;
}

#view {
  display: grid;
  grid-template-columns: auto 1fr;
}

#edit {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
}

#nodes {
  display: flex;
}

#nodesItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

#line {
  width: 100%;
  color: #FFF0E3;
}

#header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 5px;
}

#addButton {
  display: none;
  background-color: rgba(0,0,0,0);
  border: 0;
  color: #FFF0E3;
  margin-left: auto;
  font-size: 16px;
}

.node {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.node:hover #addButton {
  display: flex;
}

.button {
  display: inline-flex;
  width: 100%;
  border: 0;
  background-color: rgba(0,0,0,0);
  color: #FFF0E3;
  padding-left: 5px;
  text-align: left;
}

.headerButton {
  width: 45px;
  height: 45px;

  background-color: rgba(0,0,0,0);
  border: 0;
  color: #FFF0E3;

  padding: 10px;
}

.headerButton:hover {
  background-color: #282828;
}

.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  border: 1px solid #FFF0E3;
  color: #FFF0E3;
  padding: 16px 24px;
  z-index: 1000;
  
  transform: translateX(150%);

  transition: 
    transform 0.4s cubic-bezier(0.3, 1, 0.5, 1);
}

.popup.open {
  transform: translateX(0);

  transition: 
    transform 0.4s cubic-bezier(0.3, 1, 0.5, 1);
}

.popup-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.list {
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
}