/* Container to make it look like a textarea */
.tiptap-container {
  border: 1px solid #FFF0E3;
  padding-left: 10px;
  background-color: #282828;
  min-height: 100%;
  cursor: text;
}

.ProseMirror {
  outline: none;
  min-height: 150px;
  font-family: inherit;
}

/* --- TipTap Placeholder Styling --- */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #959595;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

#titleEdit {
  border: 0;
  background-color: #282828;
  color: #FFF0E3;
  font-size: larger;
  font-size: 2em;
  font-weight: bold;
  font-family: inherit;
  padding: 0;
}

#titleEdit:focus {
  outline: none;
}